body {
  background-color: #ffffff;
  font-family: "Helvetica", "STHeiti";
  font-weight: 400;
  font-size: 17px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2 {
  font-family: "Helvetica", "STHeiti";
  font-weight: 300;
  color: #000;
}

h3, h4, h5, h6 {
  font-family: "Helvetica", "STHeiti";
  font-weight: 500;
  color: #000;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #cb3c6f;
  word-wrap: break-word;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Topbar */

#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  font: normal 16px/24px "Helvetica", "STHeiti";
}

#section-topbar a {
  color: #fff;
}

#topbar-inner {
  background: #2f2f2f;
  line-height: 0;
  text-align: center;
}

#section-topbar ul#nav {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border-right: 0px solid #2f2f2f;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline;
}

#section-topbar ul#nav>li {
  display: block;
  float: left;
  padding: 0;
}

#section-topbar ul#nav a {
  display: block;
  font: normal 16px/18px "Helvetica", "STHeiti";
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  min-height: 60px;
  border-left: 0px solid #2f2f2f;
}

#section-topbar ul#nav a:focus {
  background: #2f2f2f;
  text-decoration: none;
  border-left: 0px solid #2f2f2f;
}

#section-topbar ul#nav a:hover {
  background: #cb3c6f;
  text-decoration: none;
  border-left: 0px solid #2f2f2f;
}

#section-topbar ul#nav .active a {
  background: #cb3c6f;
  border-left: 0px solid #2f2f2f;
}

#section-topbar ul#nav .active a:hover {
  background: #cb3c6f;
}

#section-topbar i {
  font-size: 25px;
}

/* Header Wrap */

#headerwrap {
  background: black url(../img/head.png) no-repeat center top;
  margin-top: 60px;
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 600px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  font-size: 72px;
  font-family: "Helvetica", "STHeiti";
  text-shadow: 0 0 6px black;
  color: white;
}

#headerwrap h3 {
  font-size: 24px;
  font-family: "Helvetica", "STHeiti";
  text-shadow: 0 0 6px black;
  color: white;
}

/* Intnro Wrap */

#intro {
  background: #3f3f3f;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

#intro h3, p {
  color: white;
}

#intro i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

#intro a {
  color: #f08baf;
}

#intro a:hover, a:focus {
  color: #ababab;
}

/* Foot Wrap */

#footwrap {
  background: #3f3f3f;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footwrap p {
  color: white;
}

#footwrap a {
  color: #f08baf;
}

#footwrap a:hover, a:focus {
  color: white;
}

#footwrap h3 {
  color: white;
}

#footwrap t {
  font-weight: 700;
}

#footwrap i {
  padding-right: 8px;
  color: #1abc9c;
}

/* Copyright Wrap */

#copyrights {
  background: #2f2f2f;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

#copyrights p {
  margin: 0 0 5px 0;
}

/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #3b4357;
}

.desc more {
  color: #555;
}

sm {
  font-size: 16px;
}

.btn-pdf {
  font-size: 15px; 
  border-radius: 6px; 
  color: #cb3c6f; 
  border-color: #cb3c6f;
  background-color: transparent;
}

.btn-pdf-intro {
  font-size: 15px; 
  border-radius: 6px; 
  color: #f08baf; 
  border-color: #f08baf;
  background-color: transparent;
}
