/* General */

* {
  font-size: 18px;
}

h1 {
  color: black;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  color: black;
  font-size: 24px;
  font-weight: 600;
}


p {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

t {
  color: black;
  font-weight: 600;
}

a {
  color: #cb3c6f;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover, a:focus {
  color: #cb3c6f;
  text-decoration: underline;
}

li {
  color: black;
  font-size: 18;
  font-weight: 400;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

a.btn {
  color: #cb3c6f;
  border-width: 1px;
  border-color: #cb3c6f;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

a.btn:hover, a.btn:focus {
  color: white;
  text-decoration: none;
  background-color: #cb3c6f;
}

img.svglink:hover, img.svglink:focus {
  fill: #cb3c6f;
}

img {
  padding: 5px;
/*  border-radius: 20px;*/
}

/* navbar */

.navbar {
  padding: 10px;
  background-color: white;
}

.navbar-nav .nav-link {
  padding: 12px;
  color: gray;
  font-size: 22px;
  font-weight: 500;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
  color: #cb3c6f;
}

.navbar a:hover, a:focus {
  color: #cb3c6f;
  text-decoration: none;
}

/* Sections */

.section {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.first_section {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

/* contact */

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3f3f3f;
/*  text-align: center;*/
}

#contact hr {
  color: white;
}

#contact h3 {
  color: white;
}

#contact p {
  color: white;
}

#contact t {
  color: white;
}

/* copyrights */

#copyrights {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2f2f2f;
  text-align: center;
}

#copyrights p {
  color: white;
}

/* album */

#album {
  padding-top: 50px;
  min-height: 100vh;
}

.carousel-caption h3 {
  color: white;
}

#album p {
  padding-left: 0px;
}

#album img {
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 20px;
}